body {
    background:#28618b;
}
.logo {
    text-align: center;
    width:80%;
}
.posimg{
    height:30vh;
    width:50vh;
    padding-bottom:5%;
}

.centimg{
    text-align:center;
}

.txtp{
    color:#fff;
    text-align:center;
}

.orange{
    background-color:#eb7a0a;
}

.orange:hover{
    background-color:#eb7a0a;
}

.orange:before{
    background-color:#eb7a0a;
}
